<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Nexus.domain.board.mapper.PostMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posts (title, content, writer_id)
        VALUES (#{title}, #{content}, #{writerId})
    </insert>

    <select id="findAll" resultType="com.example.Nexus.domain.board.dto.object.Post">
        SELECT
            id,
            title,
            content,
            writer_id AS writerId,
            created_at AS createdAt,
            hits
        FROM posts
        ORDER BY id DESC
            LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="findById" resultType="com.example.Nexus.domain.board.dto.object.Post">
        SELECT id, title, content, writer_id AS writerId, created_at AS createdAt, hits
        FROM posts
        WHERE id = #{id}
    </select>

    <update id = "updateHits">
        UPDATE posts
        SET hits = hits + 1
        WHERE id = #{id}
    </update>

    <update id = "update">
        UPDATE posts
        SET title = #{title}, content = #{content}
        WHERE id = #{id}
    </update>

    <delete id = "delete">
        DELETE FROM posts WHERE id = #{id}
    </delete>



</mapper>